rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow write: if request.auth.uid != null;
    //   allow read: if true;
    // }
    match /chatroom/{docid}/messages/{docid2} {
    	allow read, write : if true;
    }
    match /chatroom/{docid} {
    	allow read, write : if true;
    }
    
    function checkAdmin(){
    	return exists(/databases/$(database)/documents/user/$(request.auth.uid)).data.admin == true
    }
    match /product/{docid} {
    	allow read : if true;
      allow create : if request.auth != null && request.resource.data.keys().hasOnly(['제목', '내용', '가격'])
      allow update: if request.auth.uid == resource.data.uid 
      || checkAdmin();
    }
    match /user/{docid}{
    	allow read, write : if true;
    }
  }
}